#slideshow {
  height: 500px;
  text-align: center;
}

.slideshowImage {
  height: 600px;
}

body {
  text-align: center;
  background-image: url("../Images/pawprints.png");
}

h1 {
  font-family: 'Fascinate', cursive;
  font-size: 70px;
}

input {
  font-family: sans-serif;
  font-weight: bolder;
  padding: 5px;
  background: #F2E3CC;
  color: black;
  border-width: thin;
  border-style: ridge;
}
